
input{
	outline: none;
}

li{
	list-style: none;
}
textarea{
	outline: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.clearfix2::before {
    content: "";
    clear: both;
    display: table;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
*{
	padding: 0px;
	margin:0px;
	font-family: MicrosoftYaHei;
}
.container{
	overflow: hidden;
	position: relative;
}
/*.event{
	position: absolute;
	left: 50%;
	margin-left: -40px;
	top: 70px;
}
.event_clock{
	width:74px;
	height:74px; 
	z-index: 10;
	background:rgba(255,255,255,1);
	border-radius: 80px;
	border: solid 3px #cccccc;
	opacity: 0;
}
.block_line{
	width: 3px;
	height: 835px;
	position: absolute;
	left: 50%;
	margin-left: -1.5px;
	background-color: #cccccc;
}*/

.background{
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -33.5%;
}
.background img{
	width: 1285px;
	height: auto;
}


.plate .pole{
	width: 2px;
	height: 200px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-top: 500px;
	margin-left: -1px;
	background-color: #458bac;
	transform-origin: bottom right;
	z-index: -10;


}
/*.plate {
	width: 2px;
	height: 200px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-top: 500px;
	margin-left: -1px;
	background-color: #458bac;
	transform-origin: bottom right -1px;
	z-index: -10;	

}*/
/*.plates{
	overflow: hidden;
}*/
/*.pole{
	width: 4px;
	height: 500px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-top: 500px;
	/*background-color: #458bac;*/
	/*background-color: red;
	transform-origin: bottom right -1px;

}*/
/*.plate:nth-child(1)
{
	transform: rotate(-30deg);
	
}
.plate:nth-child(2)
{
	transform: rotate(-15deg);
	
}
.plate:nth-child(3)
{
	transform: rotate(0deg);
	
}
.plate:nth-child(4)
{
	transform: rotate(15deg);
	
}
.plate:nth-child(5)
{
	transform: rotate(30deg);
	
}*/

.plate .board{
	width: 117px;
	height: 72px;
	border-radius: 10px;
	border: solid 2px #458bac;
	position: absolute;
	/*top: 0px;*/
	/*margin-top: -72px;*/
	left: 50%;
	margin-left: -58.5px;
	text-align: center;
	line-height: 72px;

	/*transform-origin: 50%*/

}



.ball{
	position: absolute;
	left: 10%;
	top: 30%;
	width: 8%;
	height: auto;
}
.ball img{
	width: 100%;
	height: auto;
}
.plate{
	display: none;
}
.index_topic{
	width: 1067px;
	height: 625px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
	border: solid 2px rgba(69, 139, 172, 0.85);
	opacity: 0.85;
	z-index: 100;
	position: absolute;
	left: 50%;
	margin-left: -533.5px;
	top: 50%;
	margin-top: -312.5px;
	overflow: auto;
	padding: 85px 0px 85px 0px;
}

.event {
	width: 660px;
	/*width: 100%;*/
	min-height: 44px;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid 2px #458bac;
	padding: 23px 30px 23px 30px;
	margin-bottom: 29px;
	
}
.year2016{
	width: 1067px;
	height: 625px;
	position: absolute;
	left: 50%;
	margin-left: -533.5px;
	top: 50%;
	margin-top: -312.5px;
}
.year {

	font-family: Moon2.0-Bold;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #458bac;
	position: absolute;
	left: 86px;
	top: 58px;
}
.close{
	position: absolute;
	top: 19px;
	right: 19px;
}